.container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.chatRoomWrap {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.chatRoomHeader {
  height: 50px;
  background-color: #fbc22e;
  border-top-left-radius: 15px;
}

.chatRoomList {
  height: 100%;
  padding-top: 8px;
  background-color: #fff;
  overflow-y: scroll;
  border-bottom-left-radius: 15px;
}

.chatRoomInfo {
  height: 48px;
  margin-left: 16px;
}

.chatRoomInfo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.empty {
  position: relative;
  top: 50%;
  left: 250%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.chatContainer {
  height: 100%;
  border: 1px solid lightgray;
  font-family: 'SpoqaHanSansNeo-Medium';
  background-color: #fff;
}

.chatWrap {
  height: 440px;
  overflow-y: scroll;
}
