/* .Test {
    padding-top: 55px;
    color: hsl(240, 5%, 20%);
    height: 100vh;
    transition: background-color 300ms ease;
    background-image: radial-gradient(
      ellipse at center,
      hsla(0, 100%, 100%, 0.5) 0%,
      hsla(0, 100%, 100%, 0) 100%
    );
    background-color: hsl(199, 94%, 67%);
  }
   */
  .tab {
    font-weight: bold;
    padding: 28px 0px 28px 20px;
    margin:10px;
    background: #EFEFEF;
    text-align: left;
    color: #333333;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
    height: 80px;
  }
  
  .tab:hover {
    color: #FBC22E;
  }
  
  .tab:active {
    transform: scale(0.95);
    color: #FBC22E;
  }
  
  .tab.active {
    background-color: #FBC22E;
    color:white;
  }
  
  .tab.disabled {
    opacity: 0.25;
  }
  