* {
  font-family: "SpoqaHanSansNeo-Medium";
}

.dropdownWrap {
  width: 260px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.userInfoWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgray;
}

.userIcon {
  width: 48px;
  margin-left: 40px;
  margin-right: 24px;
}

.userInfo p {
  margin: 0;
}

.tabWrap {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-left: 48px;
  padding-top: 32px;
}