@font-face {
  font-family: "SpoqaHanSansNeoMedium";
src: url("src/assets/fonts/SpoqaHanSansNeo-Medium.ttf");
}
@font-face {
  font-family: "SpoqaHanSansNeoBold";
  src: url("src/assets/fonts/SpoqaHanSansNeo-Bold.ttf");
}

@font-face {
  font-family: "SpoqaHanSansNeoRegular";
  src: url("src/assets/fonts/SpoqaHanSansNeo-Regular.ttf");
}

