@font-face { font-family: 'SpoqaHanSansNeo-Bold'; src: url(src/assets/fonts/SpoqaHanSansNeo-Bold.ttf) format('truetype'); }

body {
  margin: 0;
  font-family: 'SpoqaHanSansNeo-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}